<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">

    <head>
        <title>Attendance Overview</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>

    <body th:with="page='my_attendance'">
        <div layout:fragment="content">
            <div class="table-responsive col-sm-5">
                <div>
                    <table class="table table-striped">
                        <h3>TIME</h3>
                        <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Punches</th>
                            <th>Status</th>
                            <!--<th>Shift hour</th>-->
                            <!--<th>Status</th>-->
                            <!--<th>Late By</th>-->
                            <!--<th>Last Punch</th>-->
                            <!--<th>Department</th>-->
                            <!--<th>Perform(%)</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="attendance, attendanceStat : ${attendanceList}">
                            <td th:text="${attendanceStat.count}">1</td>
                            <td th:text="${attendance.punchTime}">1</td>
                            <td th:text="${attendance.inOutStatus}">1</td>
                            <!--<td th:text="${attendance.shiftHour}">Day/Night</td>-->
                            <!--<td th:text="${attendance.status}">In/Out</td>-->
                            <!--<td th:text="${attendance.lateBy}">40mins</td>-->
                            <!--<td th:text="${attendance.lastPunch}">12:30pm</td>-->
                            <!--<td th:text="${attendance.department}">CSE</td>-->
                            <!--<td th:text="${attendance.perform}">85%</td>-->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>12:30pm</td>
                            <td>IN / OUT</td>
                            <!--<td>In/Out</td>-->
                            <!--<td>40mins</td>-->
                            <!--<td>12:30pm</td>-->
                            <!--<td>CSE</td>-->
                            <!--<td>85%</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>



<!-- FOR MONTHLY -->


                <!--<div style="margin-top:4%">-->
                    <!--<table class="table table-striped">-->
                        <!--<h3>Last Month</h3>-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Serial</th>-->
                            <!--<th>From</th>-->
                            <!--<th>To</th>-->
                            <!--<th>Shift hour</th>-->
                            <!--<th>Status</th>-->
                            <!--<th>Department</th>-->
                            <!--<th>Perform(%)</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr th:each="attendance, attendanceStat : ${attendanceList}">-->
                            <!--<td th:text="${attendanceStat.count}">1</td>-->
                            <!--<td th:text="${attendance.name}">12:12:12</td>-->
                            <!--<td th:text="${attendance.shiftHour}">15:12:12</td>-->
                            <!--<td th:text="${attendance.status}">Day/Night</td>-->
                            <!--<td th:text="${attendance.lateBy}">In/Out</td>-->
                            <!--<td th:text="${attendance.department}">CSE</td>-->
                            <!--<td th:text="${attendance.karma}">85%</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td>12:12:12</td>-->
                            <!--<td>15:12:12</td>-->
                            <!--<td>Day/Night</td>-->
                            <!--<td>In/Out</td>-->
                            <!--<td>CSE</td>-->
                            <!--<td>85%</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            </div>
        </div>
    </body>
</html>