<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">

    <head>
        <title>My Payment</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>

    <body th:with="page='my_payment'">
        <div layout:fragment="content">
            <div class="table-responsive">
                <h1>My Payment</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Basic</th>
                        <th>Medical</th>
                        <th>HRA</th>
                        <th>TA</th>
                        <th>DA</th>
                        <th>Incentive</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>00</td>
                        <td>f@r</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                    </tr>
                    <tr th:each="payroll : ${payrollList}">
                        <td th:text="${payroll.payId}">1</td>
                        <td th:text="${payroll.payUserEmail}">f@r</td>
                        <td th:text="${payroll.basicPay}">12</td>
                        <td th:text="${payroll.madicalPay}">12</td>
                        <td th:text="${payroll.hraPay}">12</td>
                        <td th:text="${payroll.taPay}">12</td>
                        <td th:text="${payroll.daPay}">12</td>
                        <td th:text="${payroll.incentivePay}">12</td>
                    </tr>
                    </tbody>
                </table>

                <h3>Tried to set a pie chart but failed</h3>
            </div>
        </div>
    </body>
</html>